<p class="entete"> {{titre | uppercase}}
        <a [routerLink]= "['/login']"> vers login  </a> &nbsp;
        <a [routerLink]= "['/welcome']"> vers welcome </a>
        <a [routerLink]= "['/basic']"> vers basic </a>
        <a [routerLink]= "['/adminDevise']"> vers adminDevise </a>
        <a [routerLink]= "['/calcultva']"> vers calcultva </a>
        <a [routerLink]= "['/products']">  vers products </a>
</p>
