montant :<input type="text" [(ngModel)]="montant"/> <br/>
monaieSource:<select  [(ngModel)]="codeMonaieSource">

    <option *ngFor="let d of listeDevises">{{ d.code}}</option>

</select><br/>
monaieCible:<select  [(ngModel)]="codeMonaieCible">

        <option *ngFor="let d of listeDevises">{{ d.code}}</option>
    
    </select><br/>
    
<input type="button"(click)="calculerConversion()" value="convertir"/><br/>
<span class="error">{{errorMsg}}</span>
resultat ={{resultat}}
<hr/>


<table border="1">
   <tr><th>code</th><th>monaie</th><th>change</th></tr>
   <tr
   *ngFor=" let d of listeDevises">
   <td>{{d.code}}</td><td>{{d.name}}</td><td>{{d.change}}</td>
</tr>


</table>
