<p>login works!</p>
<div class="container-fluid">   <!-- -->

<form #formLogin="ngForm" class="form-horizontal">
 <div class="form-group row">
    <label class="control-label col-sm-4" >username :</label>
    <div class="col-sm-8">
    <input type="text" name="username" [(ngModel)]= "p.username" required/>
 </div>
 </div>
 
 
<div class="form-group row">
            <label class="control-label col-sm-4">password :</label>
            <div class="col-sm-8">  
            <input type="text" name="paswword"  [(ngModel)]= "p.password" required/>
        </div>
        </div>



        <div class="form-group row">
         <div class="offset-sm-4 col-sm-8 ">

<input type="button" class="btn btn-primary" value="login" [disabled]="!formLogin.form.valid" (click)="onLogin()"/> 
<i class="fa fa-heart " aria-hidden="true" style="color:red;">/</i>
</div>
</div>

</form>
{{message}}
</div>