
<p>calcultva works!</p>

ht:<input type="text" [(ngModel)]="ht"(input)="calculer()"/>  <br/>
taux:<select [(ngModel)]="taux" (change)="calculer">
<option>5</option>
<option>10</option>
<option>20</option>

</select><br/>

tva ={{tva|number:'1.0-2'}} <br/>
tva ={{ttc |number:'1.0-2'}} <br/>

<!--tva:<input type="text" [(ngModel)]="tva"/>
ttc:<input type="text" [(ngModel)]="ttc"/>



<input type="button" value="calculer x puissance n"
(click)="calculer()"

/>  <br/>-->


<!--<div *ngIf ="res">
resultat = <span [class.enGrasSiGrandeValeur] ="res>=100">{{res}}</span>

</div>
<input type="checkbox" [(ngModel)] = "detail"/> avec details <br/>

<ul [style.display]= "detail? 'block':'none'">

<li  *ngFor="let resultat of tabRes">{{resultat}}</li>


</ul>-->