<p>welcome works!</p>
<hr>

<bsu-toggle-panel title="panneau 1">
        <tabset>
        <tab heading="onglet1">
        appli angular {{title}}
        <!--<app-login></app-login>-->
        </tab>
        <tab heading ="onglet 2">
                contenu d'onglet2
         </tab>
         <tab heading="conv">
                        <app-conversion></app-conversion>
         </tab>
        
         <tab heading ="calcul tva">
                    ht:<input type="text"[(ngModel)]="ht"><br/>
                    taux:<input type="text"[(ngModel)]="taux"><br/>
                    tva:<input type="text"[(ngModel)]="tva"><br/>
                    ttc:<input type="text"[(ngModel)]="ttc"><br/>
         </tab>
        </tabset>
</bsu-toggle-panel>

<bsu-toggle-panel title="panneau 2">
nhgfhngrgbfthgr
</bsu-toggle-panel>
     


<!--<tab heading ="basic  (calcul)">
<app-basic></app-basic>
</tab>-->

